

h1{
    transition: color 0.1s ease-out;
}

h1:hover{
    color: brown;
    
}

table tr td img{
    height:250px;
    transition: 0.3s ease;
}

table tr td img:hover{
    transform: scale(1.05);
}

footer{
    background-color: black;
    font-size: 20px;
    margin: 0;
    padding: 3px;
}